@charset "utf-8";

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$blue: #06bcef;
$red: #ff8080;

// 3. Set the derived variables
$danger: $red;

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

.notification.notification--centered {
    padding: 1.5em;
}

.pokemon-input {
    text-align: center;
}
.pokemon-level {
    width: 3em;
}

.pokemon-choice-tile {
    height: 24em;
}

.is-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
